version: '3.8'
services:
  {{ pgadmin_container_name }}:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "{{ pgadmin_email }}"
      PGADMIN_DEFAULT_PASSWORD: "{{ pgadmin_password }}"
    ports:
      - "8888:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
      - /opt/pgadmin_config/servers.json:/pgadmin4/servers.json
    networks:
      - {{ network_name }}

volumes:
  pgadmin_data:

networks:
  {{ network_name }}:
    driver: bridge
