apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  namespace: icgroup
  labels:
    app: webapp
    env: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
        env: prod
    spec:
      containers:
      - name: webapp
        image: gseha/ic-webapp:latest
        ports:
        - containerPort: 8080
        env:
        - name: ODOO_URL
          value: "http://odoo-service:8069"
        - name: PGADMIN_URL
          value: "http://pgadmin-service:80"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
