apiVersion: v1
kind: Service
metadata:
  name: webapp-service
  namespace: icgroup
  labels:
    app: webapp
    env: prod
spec:
  selector:
    app: webapp
  ports:
  - port: 8080
    targetPort: 8080
  type: LoadBalancer
