version: '3.8'

services:
  {{ pgadmin_service_name }}:
    image: dpage/pgadmin4
    container_name: {{ pgadmin_container_name }}
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@icgroup.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    volumes:
      - {{ pgadmin_volume_path }}:/var/lib/pgadmin
      - /opt/pgadmin/servers.json:/pgadmin4/servers.json
    networks:
      - {{ network_name }}

networks:
  {{ network_name }}:
    external: true
    name: {{ network_name }}
